@model ICollection<Post>

@{
    ViewData["Title"] = "Cadastro";
}

<body class="text-justify">

    <main role="main">

        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12 col-sm-4 lista-user">

                    <h2 class="text-center">Listagem de Posts</h2>

                    @if (Model != null)
                    {
                        <table id="tblPosts" class="table col-md-6 offset-md-3 table-striped table-responsive table-dark">
                            <thead>
                                <tr>
                                    <th>Título</th>
                                    <th>Data</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Post item in Model)
                                {
                                    <tr>
                                        <td>@item.Titulo</td>
                                        <td>@item.DataPost</td>
                                        <td><a class="mt-2 btn btn-sm btn-outline-primary" href="UpdatePost?id=@item.Id">Editar</a>
                                    <a class="mt-2 btn btn-sm btn-outline-primary" href="DelPost?id=@item.Id">Excluir</a></td>
                                    </tr>
                                    
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </main>
</body>