@using Microsoft.AspNetCore.Http;
@model Post

@{
    ViewData["Title"] = "Edição de Post";
}

<h2>Cadastro de Post do Blog</h2>

<p>@ViewData["Mensagem"]</p>

<form id="frmCadastro" asp-controller="Post" asp-action="UpdatePost" method="post">

    <p>
        <label asp-for="Titulo">Título</label><br />
        <input asp-for="Titulo" />
    </p>

    <p>
        <label asp-for="Texto" style="vertical-align:middle;">Texto</label><br />
        <textarea asp-for="Texto" cols="40" rows="5"></textarea>
    </p>

    <p>
        <label asp-for="DataPost">Data</label><br />
        <input asp-for="DataPost" />
    </p>

    <input value=@Context.Session.GetInt32("IdUsuario") type="hidden" asp-for="UsuarioId">
    <input type="hidden" name="Id" asp-for="Id">
    <input type="submit" value="Salvar" />

</form>