@{
    ViewData["Title"] = "Login";
}

@model Usuario

<body class="text-center">

    <div class="container">

        <div class="row">

            <div class="col-md-6 col-lg-6 col-sm-12 offset-md-3">

                <form method="post" asp-action="Login" class="form-signin mt-5">

                    <img class="mb-4 ml-3 mt-5 img-fluid" src="../Imagens/logo.jpeg" alt="" width="400" height="180">

                    <h1 class="h3 mb-5 font-weight-200">Bem - Vindos a Killar!</h1>

                    <label asp-for="LoginNamePub" class="sr-only">Nick Name</label>

                    <input asp-for="LoginNamePub" name="login" type="text" class="form-control mb-3" placeholder="Login Name"
                    required autofocus>

                    <label asp-for="CheckSenhaPub" class="sr-only">Password</label>

                    <input asp-for="CheckSenhaPub" name="senha" type="password" class="form-control mb-3" placeholder="Password"
                    required>

                    <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Log in</button>

                </form>

                <p class="text-danger mt-3">@ViewData["Erro"]</p>

                <hr class="mb-4">

                <p>Não tem uma conta? <a asp-controller="Usuario" asp-action=CadUser> Cadastre-se agora mesmo!</a></p>

                <p class="mt-5 mb-3 text-muted">&copy; @DateTime.Now</p>

            </div>

        </div>

    </div>

</body>