* {
    font-family: 'fantasy';
}

.custom-carosel {
    text-align: justify;
}

.custom-carosel h1 {
    text-align: center;
    color: #007bff;
    font-weight: bold;
}

.custom-carosel p {
    font-size: 20px;
    color: rgb(130, 129, 129);
}

.form-cad {
    border-radius: 20px;
    border: 5px solid rgb(142, 59, 180);
    padding: 15px;
    background: #002349e1;
    box-shadow: rgba(0, 0, 0, 0.712) -30px 10px 50px;
}

.form-cad h1 {
    color: #fff;
    font-size: 60px;
}

.form-cad p {
    color: #fff;
}

.form-cad hr {
    background-color: rgba(94, 97, 103, 0.865);
    height: 0.2px;
}

.form-cad label {
    color: #fff;
    font-size: 18px;
}

.form-cad input {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 3px solid rgb(142, 59, 180);
    background: none;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.form-cad input::placeholder {
    color: #fff;
}

.div-cad {
    margin-top: 50px;
}

.form-cad img {
    width: 800px;
    height: 320px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.943) -10px 10px 70px;
    border: 2px solid rgb(142, 59, 180);
}

.lista-user {
    margin-top: 120px;
}

.row {
    margin: 0;
}

.carossel-fundo {
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.712) -10px 10px 50px;
}

.carossel-fundo img {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.712) -10px 8px 50px;
}

.indicador li {
    background-color: black;
}

.goback span:hover {
    text-shadow: rgba(0, 0, 0, 0.712) -10px 10px 50px;
}

.bord-cad {
    border-radius: 8px;
    border: 2px solid #fff;
    background-color: #007bff;
    box-shadow: rgba(0, 0, 0, 0.712) -10px 8px 50px;
    margin-left: 50px;
    width: 100%;
}

.bord-cad h2 {
    font-family: 'fantasy';
    color: #fff;
    font-size: 30px;
    text-decoration: 2px underline #fff;
}

.bord-cad p {
    color: white;
    text-align: justify;
}

.bord-cad:hover {
    background-color: #3590f1;
    cursor: pointer;
}

.logform {
    margin-left: -40px;
}

.form-signin h1 {
    color: #007bff;
    font-family: 'monospace';
    font-size: 40px;
    font-weight: bold;
}

.frase a {
    color: white;
}

.mod-img {
    box-shadow: rgba(0, 0, 0, 0.712) -10px 8px 50px;
    border-radius: 20px;
    margin: auto;
}

.mod-title {
    font-family: 'fantasy';
    text-align: left;
    font-size: 30px;
    color: rgb(227, 191, 49);
}

.mod-body {
    text-align: justify;
    line-height: 25px;
    padding: 25px;
}

.but-index {
    margin: auto;
    width: 250px;
    height: 50px;
    border-radius: 8px;
    font-size: 20px;
}

.but-index:hover {
    border-radius: 18px;
    transition: ease-in-out 0.6s;
    transform: translateY(-8px);
    text-decoration: 2px underline #fff;
    box-shadow: rgba(0, 0, 0, 0.712) -8px 8px 8px;
}

.last {
    background-color: #007bff;
}

.frame {
    margin-top: 10px;
}

.div-end {
    color: #fff;
}

.div-end h2 {
    color: rgb(21, 19, 19);
}

.h22 {
    color: rgb(227, 191, 49);
}


/*css de perfil*/

.perfil {
    margin-top: 90px;
    padding: 30px;
    font-family: monospace;
    border-radius: 90px 0px 30px 0px;
    box-shadow: rgba(0, 0, 0, 0.712) -22px 18px 8px;
}

.perfil img {
    box-shadow: rgba(0, 0, 0, 0.712) -8px 8px 20px;
}

.perfil h1 {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.perfil span {
    font-weight: 10;
    font-size: 30px;
}

.perfil label {
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.perfil input {
    border-bottom: 2px solid rgba(29, 102, 204, 0.779);
    background-color: rgba(42, 34, 157, 0.651);
}

.perfil input::placeholder {
    color: rgba(29, 102, 204, 0.779);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.game {
    text-align: justify;
    padding: 15px;
}

.pessoal {
    text-align: justify;
    padding: 15px;
}


/*css cadastro de posts*/

.body-post {
    background-image: url("../Imagens/fundo-post.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.cadpost {
    margin-top: 80px;
    opacity: 90%;
}

.cadpost h2 {
    color: rgb(227, 191, 49);
    font-weight: bold;
    text-align: right;
    font-size: 45px;
    text-shadow: rgba(0, 0, 0, 0.756) -8px 8px 3px;
}

.cadpost input {
    border: 3px solid rgb(142, 59, 180);
    background: rgba(39, 35, 35, 0.568);
    box-shadow: rgba(255, 255, 255, 0.712) -5px 5px 5px;
    color: #fff;
    font-size: 18px;
}

.cadpost input::placeholder {
    font-size: 20px;
}

.cadpost textarea::placeholder {
    font-size: 20px;
}

.cadpost textarea {
    border: 3px solid rgb(142, 59, 180);
    background: rgba(39, 35, 35, 0.568);
    color: #fff;
    box-shadow: rgba(255, 255, 255, 0.712) -5px 5px 5px;
    font-size: 18px;
}

.but-post {
    width: 80%;
}

.jumb {
    background-image: url("../Imagens/post-fundo-.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.795) -18px 18px 10px;
}


/*css quem somos*/

.card {
    border: 2px solid rgba(29, 102, 204, 0.963);
}

.card h5 {
    font-weight: bold;
}

.quem-somos {
    margin-top: 80px;
}

.cards-players {
    background-image: url("../Imagens/log-fundo.jpg");
    background-size: auto;
    background-repeat: repeat;
}

.image {
    border: 1px solid rgba(29, 102, 204, 0.963);
}

.image:hover {
    transition: ease-in-out 0.6s;
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.795) -8px 8px 10px;
    cursor: pointer;
}

.qs-2 {
    background-color: #fff;
    padding: 30px;
}

.adms {
    border: 2px solid rgba(29, 102, 204, 0.963);
}

.list {
    background-color: rgba(29, 102, 204, 0.779);
    color: #fff;
}

.play-title {
    font-size: 50px;
    color: #fff;
    text-shadow: rgba(240, 235, 235, 0.89) -8px 8px 10px;
}

.player ul {
    list-style: none;
}

.player h5 {
    font-weight: bold;
    font-size: 30px;
    color: rgba(29, 102, 204, 0.963);
}


/*css comunidade*/

.main-comunity {
    background-color: rgba(29, 102, 204, 0.779);
    box-shadow: rgba(0, 0, 0, 0.795) -18px 18px 10px;
    margin-top: 100px;
    font-family: 'fantasy';
}

.comunity-cont {
    padding: 30px;
}

.comunity-cont h2 {
    margin-top: -80px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.628) 5px 8px 5px;
}

.p-text p {
    color: rgb(255, 255, 255);
}

.comunity-cont span {
    color: rgb(0, 47, 112);
    text-shadow: rgb(31, 28, 28) -5px 5px 8px;
    font-weight: bold;
}

.hr-comunity {
    background-color: #fff;
    box-shadow: rgb(0, 0, 0) -8px 8px 5px;
}


/*css da página de vitrine de posts/Notícias (Comunidade)*/

.artigo {
    margin-top: 80px;
}

.artigo h2 {
    color: rgb(227, 191, 49);
}

.post-date {
    font-size: 0.8em;
    font-style: italic;
}

.comente {
    font-size: 1.1em;
    font-weight: bold;
}


/*css delluser*/

.card-dell {
    margin-top: 80px;
    border: 2px solid rgba(184, 23, 23, 0.8);
    padding: 30px;
}


/*css do carrossel*/

.myslides {
    display: none;
}

.slideshow-container {
    top: 20px;
    box-shadow: #292727 5px 5px 30px;
    border-radius: 20px;
}

.slideshow-container img {
    border-radius: 20px;
}

.prev,
.next {
    position: absolute;
    margin-top: -80px;
    width: auto;
    height: auto;
    padding: 16px;
    background-color: rgba(29, 102, 204, 0.963);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(184, 23, 23, 0.8);
}

.dot-container {
    text-align: center;
    position: relative;
    bottom: 30px;
}

.dot {
    width: 15px;
    height: 15px;
    margin: 0 2px;
    display: inline-block;
    background-color: #007bff5b;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .div-cad img {
        display: none;
    }
    .form-cad h1 {
        font-size: 50px;
    }
    .body-post {
        background-image: none;
    }
    .cadpost {
        opacity: 100%;
    }
    .cadpost h2 {
        font-size: 35px;
        margin-top: 45px;
    }
    .card {
        margin-left: 15%;
    }
    .player {
        margin-left: -30px;
    }

    .qsImg {
        margin-left: 7%;
    }
}