@model ICollection<Comentario>

@foreach (Comentario comment in Model)
{
    <h5>@comment.Autor </h5><span class="post-date">@comment.DataComent.ToString("dd/MM/yy HH:mm")</span>
    <p>@comment.Conteudo</p>
    <hr>

}