@model ICollection<Comentario>

@foreach (Comentario comment in Model)
{
    <div class="mt-3">
        <h5>@comment.Autor </h5><span class="post-date">@comment.DataComent.ToString("dd/MM/yy HH:mm")</span>
        <p>@comment.Conteudo</p>
        <hr>
    </div>
    

}