@{
    ViewData["Title"] = "Quem Somos";
}

<!DOCTYPE html>


<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gianluca Vialli">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

    <title>WR Killar - Brotherhood</title>

</head>

<body>

    <main class="quem-somos">

        <div class="qs-players">

            <div class="qs-card">

                <div class="qs-logo-lane">

                    <img class="player-logo" width="150px" height="150px" style="border-radius: 40px 10%;"
                        src="../Imagens/gian-foto.jpg" alt="">
                    <img class="lane-logo-icon" width="70px" height="70px" src="../Imagens/jg-logo.png" alt="">
                    <h2 class="qs-card-title">Bronze4eVer</h2>

                </div>

                <div class="qs-player-img">

                    <img width="390px" heigth="340px" src="../Imagens/ufo-tela.jpg" alt="">

                </div>

                <div class="qs-article">

                    <p>
                        Jungler da killar, Bronze4eVer traz em sua pool champs um tanto quanto
                        exóticos para a selva. Um eximio player de diana, e há quem diga que é
                        impossivel se desviar da lança do seu Pantheon, e das correntes de sua morgana.
                        Como rota secundária, Bronze também atua na rota do meio, trazendo mecânicas de
                        gálio jamais vistas no rift.

                    </p>

                </div>

            </div>


            <div class="qs-card">

                <div class="qs-logo-lane">

                    <img class="player-logo" width="150px" height="150px" style="border-radius: 40px 10%;"
                        src="../Imagens/sam-perf.jpeg" alt="">
                    <img class="lane-logo-icon" width="70px" height="70px" style="border-radius: 50%;"
                        src="../Imagens/top-icon.jpg" alt="">
                    <h2 style="position: absolute; margin-left: 90px;" class="qs-card-title">TheBoy</h2>

                </div>

                <div class="qs-player-img">

                    <img width="390px" heigth="340px" src="../Imagens/sam-tela.jpg" alt="">

                </div>

                <div class="qs-article">

                    <p>
                        Há quem diga que "O garoto" Não perdoa quem cai como adversário
                        nas rotas mid e solo, TheBoy não deixa a desejar. Com uma pool de extremo peso,
                        contando com campeões assassinos e lutadores, TheBoy costuma aniquilar seus adversários
                        com sadismo e frieza... Tlvez top/mid laner dos sonhos!!!
                    </p>

                </div>

            </div>


            <div class="qs-card">

                <div class="qs-logo-lane">

                    <img class="player-logo" src="../Imagens/mario-perf.jpeg" width="150px" height="150px"
                        style="border-radius: 40px 10%;" alt="">
                    <img class="lane-logo-icon" src="../Imagens/adc-icon.png" width="70px" height="70px"
                        style="position: absolute; margin-top: 110px; margin-left: -15px;" alt="">
                    <h2 class="qs-card-title">Marioneto101654</h2>

                </div>

                <div class="qs-player-img">

                    <img src="../Imagens/mario-tela.jpg" width="390px" heigth="340px" alt="">

                </div>

                <div class="qs-article">

                    <p>
                        Você já chorou alguma vez por pegar qualquer assassino no mid e mal conseguir clicar
                        pois o adversário jogava com uma orianna que parecia até mesmo usar script pois nunca, nunca
                        errava seu ponto de foco? Talvez você tenha conhecido nosso mid-laner/Adc Mario. um monstro
                        assolador
                        da rota do meio, frio, calculista e acertivo, poderíamos descrever assim nosso híbrido
                        mid-adc...
                    </p>

                </div>

            </div>

        </div>

        <div class="qs-div-descricao">

            <div class="qs-title-descricao">
                <h2>Junte se aos KILLER's</h2>
            </div>

            <div class="qs-p-descricao">
                <p>
                    Somos uma guilda recente, e estamos a recrutar jogardores que estão empenhados
                    a se desenvolver no jogo. Nossa equipe já conta com alguns times formados, mas nós também
                    queremos você.
                    Nosso principal objetivo se trata de reunir pessoas que assim como nós são apaixonadas pelo
                    rift.
                    Se você está disposto a se empenhar, compartilhar de respeito e cooperatividade mútua, venha já
                    fazer parte do nosso time.

                </p>

            </div>

            <div class="card-adms">
                <div class="qs-adms-title">
                    <h3>Nossos atuais administradores são:</h3>
                </div>

                <div class="qs-adms">
                    <div class="-adms-icon">
                        <img class="adms-perf" class="adms-perf" width="50px" height="50px"
                            style="border-radius: 50%; border: 2px solid royalblue; background-image: url('../Imagens/gian-foto.jpg'); background-size: 45px;"
                            alt="">
                        <img class="adms-icon" width="30px" height="30px" src="../Imagens/jg-logo.png" alt="">
                    </div>
                    <div class="adms-name">
                        <span>Bronze4eVer</span>
                    </div>
                </div>

                <div class="qs-adms">
                    <div class="-adms-icon">
                        <img class="adms-perf" width="50px" height="50px"
                            style="border-radius: 50%; border: 2px solid royalblue; background-image: url('../Imagens/sam-perf.jpeg'); background-size: 36px;"
                            alt="">
                        <img class="adms-icon" width="30px" height="30px" style="border-radius: 50%;"
                            src="../Imagens/top-icon.jpg" alt="">
                    </div>
                    <div class="adms-name">
                        <span>TheBoy</span>
                    </div>
                </div>

                <div class="qs-adms">
                    <div class="-adms-icon">
                        <img class="adms-perf" class="adms-perf" width="50px" height="50px"
                            style="border-radius: 50%; border: 2px solid royalblue; background-image: url('../Imagens/mario-perf.jpeg'); background-size: 40px;"
                            alt="">
                        <img class="adms-icon" width="30px" height="30px" src="../Imagens/adc-icon.png" alt="">
                    </div>
                    <div class="adms-name">
                        <span>Marioneto101654</span>
                    </div>
                </div>

            </div>

            <div class="list">

                <h3>O que você irá encontrar em nossa guilda!</h3>

                <ul>
                    <li>- Partidas diárias com membros da equipe.</li>

                    <li>- Participação em torneios de guildas.</li>

                    <li>- Times montados de acordo com seu elo e nivel in game.</li>

                    <li>- Players amigáveis e gentis.</li>

                    <li>- Recompensas de participação em torneios.</li>

                    <li>- Players com foco em crescimeto.</li>

                    <li>- Espírito de equipe e companherismo.</li>

                    <li>- Campanhas de arrecadação de fundos para manter nossa guilda.</li>
                </ul>

            </div>

        </div>
    </main>

</body>

</html>