@{
    ViewData["Title"] = "Quem Somos";
}

<!DOCTYPE html>


<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gianluca Vialli">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

    <title>WR Killar - Brotherhood</title>

</head>

<body class="cards-players text-center">

    <main role="main" class="quem-somos">

        <div class="container-fluid">

            <h1 class="text-center mb-5 play-title">Saiba mais sobre nossa guilda...</h1>

            <div class="row player">

                <div class="mt-2 card" style="width: 20rem;">

                    <img class="card-img-top img-fluid" src="../Imagens/ufo-tela-.png" alt="Card image cap">

                    <div class="card-body">

                        <h5 class="card-title">Bronze4eVer</h5>

                        <hr class="mt-2 mb-2">

                        <p class="text-justify">

                            Jungler da killar, Bronze4eVer traz em sua pool champs um tanto quanto exóticos para a
                            selva. Um eximio player de diana, e há quem diga que é impossivel se desviar da lança do seu
                            Pantheon. Como rota secundária, Bronze também atua na rota do meio.

                        </p>

                        <hr class="">

                    </div>

                    <div>

                        <h5 class="text-center mb-2">Champs pool:</h5>

                            <ul class="list-group list-group-flush">
                                <li class="mb-2"><img class="image w-100" src="../Imagens/bronze-champ1--.png"
                                alt="Card image cap"></li>

                                <li class="mt-2 mb-2"><img class="image w-100" src="../Imagens/bronze-champ2.png"
                                alt="Card image cap"></li>

                                <li class="mt-2 mb-2"><img class="image w-100" src="../Imagens/bronze-champ3.png"
                                alt="Card image cap"></li>
                            </ul>

                    </div>

                </div>

                <div class="offset-md-1 mt-2 card" style="width: 20rem;">

                    <img class="card-img-top img-fluid" src="../Imagens/sam-tela.png" alt="Card image cap">

                    <div class="card-body">

                        <h5 class="card-title">TheBoy</h5>

                        <hr class="mt-2 mb-2">

                        <p class="text-justify">

                            "O garoto" Não perdoa quem cai como adversárionas rotas mid e solo. Com uma pool de extremo
                            peso, contando com campeões assassinos e lutadores, TheBoy costuma aniquilar seus
                            adversários com sadismo e frieza...

                        </p>

                        <hr class="">

                    </div>

                    <ul class="list-group list-group-flush">

                        <h5 class="text-center mb-2">Champs pool:</h5>

                            <li class="mb-2"><img class="image w-100" src="../Imagens/boy-champ1.png"
                            alt="Card image cap"></li>

                            <li class="mt-2 mb-2"><img class="image w-100" src="../Imagens/boy-champ2.png"
                            alt="Card image cap"></li>

                            <li class="mt-2 mb-2"><img class="image w-100" src="../Imagens/boy-champ-3.png"
                            alt="Card image cap"></li>

                    </ul>

                </div>

                <div class="mt-2 offset-md-1 card" style="width: 20rem;">

                    <img class="card-img-top" src="../Imagens/mario-tela.png" alt="Card image cap">

                    <div class="card-body">

                        <h5 class="card-title">Marioneto101654</h5>

                        <hr class="mt-2 mb-2">

                        <p class="text-justify">

                            Você já chorou alguma vez por pegar qualquer assassino no mid e mal conseguir clicar
                            pois o adversário jogava com uma orianna que parecia até mesmo usar script pois nunca, nunca
                            errava seu ponto de foco? Talvez tenha conhecido Mário...

                        </p>

                        <hr class="mt-2">

                    </div>

                    <ul class="list-group list-group-flush">

                       <h5 class="text-center mb-2">Champs pool:</h5>

                            <li class="mb-2"><img class="image w-100" src="../Imagens/mario-champ1.png"
                            alt="Card image cap"></li>

                            <li class="mt-2 mb-2"><img class="image w-100" src="../Imagens/mario-champ2.png"
                            alt="Card image cap"></li>

                            <li class="mt-2 mb-2"><img class="image w-100" src="../Imagens/mario-champ3.png"
                            alt="Card image cap"></li>

                    </ul>

                </div>


            </div>
            <!---->

            <div class="qs-2 mt-5">
                <div class="row mt-5">

                    <div class="qs-div-descricao">

                        <div class="qs-title-descricao">

                            <h2 class="text-center mb-5">Junte se aos KILLER's</h2>

                        </div>

                        <div class="text-justify mb-5">
                            <p class="col-md-8 offset-md-2">
                                Somos uma guilda recente, e estamos a recrutar jogardores que estão empenhados
                                a se desenvolver no jogo. Nossa equipe já conta com alguns times formados, mas nós
                                também
                                queremos você.
                                Nosso principal objetivo se trata de reunir pessoas que assim como nós são apaixonadas
                                pelo
                                rift.
                                Se você está disposto a se empenhar, compartilhar de respeito e cooperatividade mútua,
                                venha
                                já
                                fazer parte do nosso time.

                            </p>

                        </div>

                    </div>

                </div>
                <hr>
                <div class="row">

                    <div class="col-md-4">
                        <article>
                            <h3 class="mt-5">Divirta-se em grupo</h3>
                            <p class="mt-5 text-justify">Um ambiente para novos players se conhecerem, e darem o melhor de si nas arenas do rift.
                                Venha fazer parte de um time que vem crescendo cada vez mais e conquistando seu espaço
                                nas partidas competitivas do cenário competitivo. Não perca tempo, cadastre-se agora mesmo e vem 
                                com a gente encarar essa batalha! Conheça também nosso Blog. Crie postagens e interaja com
                                diversos players.
                            </p>
                        </article>
                        <hr>
                        <a asp-controller="Usuario" asp-action="Comunidade" class="btn btn-primary">Blog Killar</a>

                    </div>
                    

                    <div class="col-md-6 offset-md-1">

                        <div class="slideshow-container active mt-5 mb-5">

                            <div class="myslides fade mt-3">
                                <img class="img-fluid" src="../imagens/qs-carosel2.png"
                                alt="Legends of runeterra">
                            </div>

                            <div class="myslides fade mt-3">
                                <img class="img-fluid" src="../imagens/qs-carosel.png" alt="League of legends">
                            </div>

                            <div class="myslides fade mt-3">
                                <img class="img-fluid" src="../imagens/qs-carosel3.png" alt="Games riot">
                            </div>

                            <div class="myslides fade mt-3">
                                <img class="img-fluid" src="../imagens/qs-carosel4.png" alt="Games riot">
                            </div>

                            <div class="dot-container">

                                <span class="dot active" onclick="currentSlide(1)"></span>
                                <span class="dot active" onclick="currentSlide(2)"></span>
                                <span class="dot active" onclick="currentSlide(3)"></span>
                                <span class="dot active" onclick="currentSlide(4)"></span>

                                <a class="prev" onclick="plusSlides(-1)">&#10094</a>
                                <a class="next" onclick="plusSlides(1)">&#10095</a>

                            </div>
                        </div>

                    </div>
                </div>
                <hr>
                <div class="row text-justify mt-5 list">

                    <div class="col-md-3 mt-2 mb-2 qsImg">
                        <img class="img-fluid" src="../imagens/fundo-news-.png" alt="">
                    </div>

                    <div class=" col-md-6 mt-5">

                        <h3 class="text-center">O que você irá encontrar em nossa guilda!</h3>

                        <ul>
                            <li>- Partidas diárias com membros da equipe.</li>

                            <li>- Participação em torneios de guildas.</li>

                            <li>- Times montados de acordo com seu elo e nivel in game.</li>

                            <li>- Players amigáveis e gentis.</li>

                            <li>- Recompensas de participação em torneios.</li>

                            <li>- Players com foco em crescimeto.</li>

                            <li>- Espírito de equipe e companherismo.</li>

                            <li>- Campanhas de arrecadação de fundos para manter nossa guilda.</li>
                        </ul>

                    </div>

                    <div class="col-md-3 mt-2 mb-2 qsImg">
                        <img class="img-fluid" src="../imagens/fundo-card.png" alt="">
                    </div>

                </div>

            </div>
        </div>

    </main>

</body>

</html>